#bar_chart_container {
    position: absolute;
    top: 130px;
    left: 580px;
    padding-top: 15px;
    -webkit-transition: opacity 1s, left 1s ease-in;
    transition: opacity 1s, left 1s ease-in;
}

.bar_charts {
    float: right;
    margin-left: 10px;
    border-left: 1px solid #5C7080;
    padding-left: 10px;
}

rect:hover {
 cursor: pointer;
 opacity: 0.8;
}

.topic_label {    
    font-weight: bold;
    fill: rgb(168, 3, 3);
}