.bar_charts {
    float: right;
    margin: 40px 20px 20px 0px;
    border-left: 1px solid #5C7080;
    padding-left: 10px;
    -webkit-transition: opacity 1s, left 2s ease-in;
    transition: opacity 1s, left 2s ease-in;
}

rect:hover {
 cursor: pointer;
 opacity: 0.8;
}

.topic_label {    
    font-weight: bold;
    fill: rgb(168, 3, 3);
}