.bar_charts {
    margin: 40px 20px 20px 0px;
    display: inline-block;
    border-left: 1px solid #5C7080;
    padding-left: 10px;
}

.bar_container {
    margin-top: 20px;
}

.topic-bar-container {
    margin: 30px 0px 0px 0px;
}

rect:hover {
 cursor: pointer;
 opacity: 0.8;
}

.topic_label {    
    font-weight: bold;
    fill: rgb(168, 3, 3);
}