body {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.selector {
    font-family: 'Montserrat';
    height: 45px;
    font-size: 20px;
    background-color: transparent;
    width: 120px;
    border: 1px solid #3a3939;
    box-shadow: 2px 2px 1px #3a3939 !important;
    border-radius: 2px;
    text-align-last: center;
    transition: all .1s;
    -webkit-transition: all .2s;
}
.selector:focus,
.selector:hover {
    box-shadow: 1px 1px 0px #3a3939 !important;
}

.topic_selector {
    margin-right: 25px;
    margin-left: 25px;
}

.color_container {
    width: fit-content;
    height: fit-content;
    padding-bottom: 0;
}

.color_selector {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin-top: -3px;
    z-index: 3;
}

nav {
    text-align: center;
    padding: 5px 10px 10px 10px;
    min-width: 850px;
}

.small {
    width: 45px;    
    font-weight: bold;
    height: 40px;
    margin-top: 5px;
    color: white !important;
    background: #394B59 !important;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

#tooltip {
    position: absolute;
    padding: 10px;		
    width: 200px;					
    height: 90px;								
    border-radius: 2px;			
	pointer-events: none;	
    z-index: 999;	
    opacity: 0;
	-webkit-transition: opacity 1s;
    transition: opacity 1s;
    background: #394B59;
    color:white; 
}
#tooltip h4 {
    margin-top: 0px;
    color: white;
}
#tooltip em {
    margin-right: 10px;
    margin-bottom: 5px;
}