body {
    font-family: 'Montserrat', sans-serif;
}

#interactions {
    background-color: rgba(241, 238, 238, 0.472);
}

.selector{
    font-family: 'Montserrat';
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    width: 120px;
    border: 1px solid #3a3939;
    box-shadow: 2px 2px 1px #3a3939;
    margin-right: 50px;
    border-radius: 2px;
    text-align-last: center;
    transition: all .1s;
    -webkit-transition: all .2s;
}

.topic_selector {
    padding-left: 15px;
}

.active {
    box-shadow: 0px 0px 0px #3a3939;
    background-color: #007EFF;
    border-radius: 2px;
    border-width: 4px;
    font-weight: bold;
    color: white;
}

nav {
    text-align: center;
    padding: 5px 10px 10px 10px;
    min-width: 850px;
}

#content_left {
    display: inline-block;
    width: 60%;
    min-width: 700px;
    min-height: 700px;
}

#content_right {
    display: inline-block;
    width:30%;
    left: 3px;
    text-align: right;
    min-height: 700px;
}

#help_button {
    position: relative;
    float: right;
    width: 50px;
    background-color: #007EFF;
    font-weight: bold;
    color: white;
}