#topic_chart {
    position: absolute;
    top: 670px;
    left: 565px;
    -webkit-transition: opacity 1s, left .5s ease-in-out;
    transition: opacity 1s, left .5s ease-in-out;
}
.topic-bar-container {
    margin: 0;
}

#topic_chart_help {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 650px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
#topic_chart_help .header {
    text-align: center;
}
#topic_chart_help p {
    text-align: justify;
    margin-top: 20px;
    font-size: 16px;
    line-height: 2em;
}